---
ansible_host: "{{ ansible_host }}"
environment: "{{ snow_cmdb_query.records[0].environment }}"
fqdn: "{{ snow_cmdb_query.records[0].fqdn }}"
manufacturer: "{{ snow_cmdb_query.records[0].manufacturer }}"
model_number: "{{ snow_cmdb_query.records[0].model_number }}"
template: "{{ ansible_net_model }}"
name: "{{ inventory_hostname }}"
type: "{{ snow_cmdb_query.records[0].subcategory }}"
repository: "{{ repository }}/gitea/networking-configurations.git"
peer: "{{ peer_hostname }}"

peers:
  - "{{ snow_cmdb_query.records[0].ip_address }}"

bgp_global:
    as_number: "6553{{ inventory_hostname[-1] }}"
    bgp:
      log_neighbor_changes: true
      router_id:
        address: "{{ ansible_host }}"
    neighbors:
    - log_neighbor_changes:
        set: true
      neighbor_address: "{{ snow_cmdb_query.records[0].ip_address }}"
      remote_as: "6553{{ peer_hostname[-1] }}"

bgp_address_family:
    address_family:
    - afi: ipv4
      neighbor:
      - activate: true
        address: "{{ snow_cmdb_query.records[0].ip_address }}"
      network:
      - address: "192.0.{{ peer_hostname[-1] }}.0"
    as_number: "6553{{ inventory_hostname[-1] }}"
