{
    "$schema": "http://json-schema.org/draft-07/schema#",
    "$id": "http://json-schema.org/draft-07/schema#",
    "properties": {
        "neighbor": {
            "type": "object",
            "properties": {
                "{{ snow_cmdb_query.records[0].ip_address }} ": {
                    "properties": {
                        "address_family": {
                            "type": "object",
                            "properties": {
                                "": {
                                    "type": "object",
                                    "properties": {
                                        "as": {
                                            "type": "integer",
                                            "const": 6553{{ peer_hostname[-1] }}
                                        },
                                        "prefixes": {
                                            "type": "object",
                                            "properties": {
                                                "total_entries": {
                                                    "type": "integer",
                                                    "minimum": 9
                                                }
                                            }
                                        },
                                        "state_pfxrcd": {
                                            "const": "9"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

